{%load static %}
<div class="nav-container">
    <div class="logo">
    </div>
    <div class="navigation">
        <nav>
            <ul class="nav-section">
                <li class="nav-header">CRUD Promociones</li>
                <li><a href="{% url 'crear_promocion' %}">Crear una promocion!</a></li>
                <li><a href="{% url 'editar_promocion' nombre=2 %}">Editar una promocion! (2)</a></li>
                <li><a href="{% url 'eliminar_promocion' nombre=2 %}">Eliminar una promocion! (2)</a></li>

            </ul>

            </ul>
        </nav>
    </div>
</div>
    